<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="nome" name="nome" aria-describedby="nomeHelp" placeholder="Nome" [(ngModel)]="usuario.nome">
  </div>

<!-- Também é possível utilizar o ngModel apenas com o property binding => [ngModel] assim não irá alterar o objeto que será utilizado apenas para inicializar -->

  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="nome@email.com" [(ngModel)]="usuario.email">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
