<form class="row" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="mb-3" [ngClass]="aplicaCssErro('nome')">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Nome">

    <!-- <app-campo-control-erro
      [mostrarErro]="verificaValidTouched('nome')"
      msgErro="Nome é obrigatório">
    </app-campo-control-erro> -->
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" formControlName="email" placeholder="nome@email.com">

    <app-campo-control-erro
      [mostrarErro]="verificaEmailInvalido()"
      msgErro="Nome é obrigatório">
    </app-campo-control-erro>
  </div>

  <div formGroupName="endereco">
    <div class="row">
      <div class="col-md-3" [ngClass]="aplicaCssErro('endereco.cep')">
        <label for="cep">CEP</label>
        <input type="text" class="form-control" id="cep" placeholder="CEP" aria-label="CEP" formControlName="cep" (blur)="consultaCEP()">
        <!-- <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('endereco.cep')"
          msgErro="CEP é obrigatório">
        </app-campo-control-erro> -->
      </div>

      <div class="col-md-3" [ngClass]="aplicaCssErro('endereco.numero')">
        <label for="numero">Número</label>
        <input type="text" class="form-control" id="numero" placeholder="Número" aria-label="Número" formControlName="numero">
        <!-- <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('numero')"
          msgErro="Número é obrigatório">
        </app-campo-control-erro> -->
      </div>

      <div class="col-md-6" [ngClass]="aplicaCssErro('endereco.complemento')">
        <label for="complemento">Complemento</label>
        <input type="text" class="form-control" id="complemento" placeholder="Complemento" aria-label="Complemento" formControlName="complemento">
        <!-- <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('complemento')"
          msgErro="Complemento é obrigatório">
        </app-campo-control-erro> -->
      </div>
    </div>

    <div class="row">
      <div class="mb-3" [ngClass]="aplicaCssErro('rua')">
        <label for="rua" class="form-label">Rua</label>
        <input type="text" class="form-control" id="rua" placeholder="Rua" formControlName="rua">
        <!-- <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('rua')"
          msgErro="Rua é obrigatório">
        </app-campo-control-erro> -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-5" [ngClass]="aplicaCssErro('bairro')">
        <label for="bairro">Bairro</label>
        <input type="text" class="form-control" id="bairro" placeholder="Bairro" aria-label="Bairro" formControlName="bairro">
        <!-- <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('bairro')"
          msgErro="Bairro é obrigatório">
        </app-campo-control-erro> -->
      </div>

      <div class="col-md-4" [ngClass]="aplicaCssErro('cidade')">
        <label for="cidade">Cidade</label>
        <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Cidade" aria-label="Cidade" formControlName="cidade">
        <!-- <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('cidade')"
          msgErro="Cidade é obrigatório">
        </app-campo-control-erro> -->
      </div>

      <div class="col-md-3" [ngClass]="aplicaCssErro('estado')">
        <label for="estado">Estado</label>
        <select class="form-control" id="estado" name="estado" aria-label="Estado" formControlName="estado">
          <option *ngFor="let estado of estados | async" [value]="estado.sigla">{{ estado.nome }}</option>
        </select>
        <!-- <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('estado')"
          msgErro="Estado é obrigatório">
        </app-campo-control-erro> -->
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-4" [ngClass]="aplicaCssErro('cargo')">
      <label for="cargo">Cargo</label>
      <select class="form-control" id="cargo" name="cargo" aria-label="Cargo" formControlName="cargo" [compareWith]="compararCargos">
        <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.desc }}</option>
      </select>
    </div>

    <div class="col-md-3" [ngClass]="aplicaCssErro('tecnologias')">
      <label for="tecnologias">Tecnologias</label>
      <select class="form-control" id="tecnologias" name="tecnologias" aria-label="tecnologisa" formControlName="tecnologias" multiple>
        <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome">{{ tecnologia.desc }}</option>
      </select>
    </div>

    <div class="col-md-3" [ngClass]="aplicaCssErro('newsletter')">
      <label for="newsletter">Newsletter</label>
      <div id="newsletter" class="row">
        <div class="col-sm-4" *ngFor="let item of newsletterOptions">
          <label for="" class="form-check-label">
            <input type="radio" class="form-check-input" [value]="item.valor" formControlName="newsletter" /> {{ item.desc }}
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-check-inline">
      <label for="termos" class="form-check-label">
        <input type="checkbox" id="termos" class="form-check-input" formControlName="termos" /> Aceito os termos.
      </label>
    </div>
  </div>

  <div style="margin-top: 20px">
    <button type="submit" class="btn btn-primary col-sm-2">Submit</button>
    <button class="btn btn-default col-sm-2" (click)="resetar()">Cancelar</button>
    <button class="btn btn-info col-sm-2" (click)="setarCargo()">Cargo</button>
    <button class="btn btn-info col-sm-2" (click)="setarTecnologias()">Tecnologias</button>
  </div>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>
