<h5>Criar / Editar Aluno</h5>

<div class="col s12">
  <div class="row">
    <div class="input-field col s12">
      <label for="disabled" class="active">#</label>
      <input disabled [(ngModel)]="aluno.id" id="disabled" type="text">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <label for="nome" class="active">Nome</label>
      <input id="nome" [(ngModel)]="aluno.nome" class="validate" (input)="onInput()">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <label for="email" class="active">Email</label>
      <input id="email"
      [(ngModel)]="aluno.email"
      type="email"
      class="validate"
      (input)="onInput()">
    </div>
  </div>
</div>
